.chat-closed {
  width: 20rem;
  background-color: #f3f2f1;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.chat-active {
  width: 20rem;
  background-color: #f3f2f1;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

.chat-active-body {
  height: 25rem;
  background-color: white;
  overflow-y: scroll;
}

.chat-active-footer {
  width: 20rem;
  bottom: 0;
  right: 0;
}

.chat-button,
.chat-input[type="submit"],
.chat-input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 28px;
  height: 28px;
}

.chat-button:hover {
  background-color: #bfc1c3;
  border-radius: 14px;
}

.chat-message-sender {
  text-align: end;
}

@media screen and (min-width: 1650px) {
  .chat-closed,
  .chat-active,
  .chat-active-footer {
    right: 3rem;
  }
}
