.gem-c-heading {
  margin: 0;
}

.gem-c-heading--font-size-27 {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

.gem-c-big-number {
  margin-bottom: 15px;
  color: #0b0c0c;
}

.gem-c-big-number__value {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  font-size: 5rem;
}

.gem-c-title--inverse {
  color: #fff;
}

.gem-c-title--inverse .gem-c-title__text,
.gem-c-title--inverse .gem-c-title__context {
  color: inherit;
}

.gem-c-title__context-link {
  text-decoration: none;
}

.gem-c-title__context-link:link,
.gem-c-title__context-link:visited {
  color: inherit;
}

.gem-c-title__context-link:hover {
  text-decoration: underline;
}

.gem-c-title__context-link:focus {
  text-decoration: none;
  color: #0b0c0c;
}

.gem-c-title__text {
  margin: 0;
}

.gem-c-title__context {
  margin: 0;
}

.gem-c-title__text {
  margin-top: 0;
}

.org-panel-info {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1px;
  padding: 35px;
  border: 5px solid transparent;
  text-align: center;
  background: rgb(0, 48, 120);
  color: #ffffff;
  border: 2px solid #ffffff;
}

.org-panel-info:hover {
  cursor: pointer;
}
