.card-img-user {
  height: 50px;
  width: 50px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;
}

.card-img-user-comment {
  height: 40px;
  width: 40px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.comment-content-width {
  max-width: 215px;
  overflow-wrap: break-word;
}

/* How to break long words and URLs https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.break-long-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
