.card-img-user {
  height: 50px;
  width: 50px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;
}

.card-img-user-comment {
  height: 40px;
  width: 40px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.comment-content-width {
  max-width: 215px;
  overflow-wrap: break-word;
}
